<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <title>ZhangYao个人信息</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" href="index.css">
</head>

<body>
    <div id="app" style="height: 100%">
        <!-- 返回顶部 -->
        <el-backtop></el-backtop>
        <!-- 侧边弹窗 -->
        <el-drawer title="我是标题" :visible.sync="drawer" :with-header="false" size='50%'>
            <ul class="nav-bar">
                <li v-for="data in navs" :key="data.id">
                    <!-- <a href="javascript:;" @click="mgocard(data.key)">{{ data.text }}</a> -->
                    <div class="m-nav" @click="mgocard(data.key)">{{ data.text }}</div>
                </li>
            </ul>
        </el-drawer>
        <!-- 导航 -->
        <div style="display: flex;flex-direction:column;height: 100%;">
            <div id="header">
                <div class="logo">
                    <a href="javascript:;" @click="gocard('about')" class="logo">{{ logo }}</a>
                </div>
                <div class="nav">
                    <div id="nav-btn" class="btn">
                        <i class="el-icon-menu" @click="drawer = true"></i>
                    </div>
                    <ul class="nav-bar">
                        <li v-for="data in navs" :key="data.id">
                            <a href="javascript:;" @click="gocard(data.key)">{{ data.text }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 首页 -->
            <div id="about">
                <div>
                    <h1>简历<span>-前端工程师</span></h1>
                    <p>喜欢技术，热爱挑战</p>
                    <div class="btn-down">
                        <a href="javascript:;" @click="gocard('info')"><i class="el-icon-arrow-down"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 第一页 -->
        <div id="info">
            <div>
                <h2>基本 资料</h2>
                <hr>

                <div class="list">
                    <el-row :gutter="20">
                        <el-col :xs="12" :sm="12" :md="6" v-for="data in infos" :key="data.id">
                            <div class="list-box">
                                <div class="ico">
                                    <i :class="data.style"></i>
                                </div>
                                <h4>{{ data.title }}</h4>
                                <!-- <p>{{ data.cont }}</p> -->
                            </div>
                        </el-col>
                    </el-row>
                </div>
            </div>
        </div>
        <!-- 技能 -->
        <div id="skill">
            <div class="top">
                <h2>技能 掌握</h2>
                <hr>
            </div>
            <div class="list">
                <el-row :gutter="20">
                    <el-col :xs="12" :sm="12" :md="6" v-for="data in skills" :key="data.id">
                        <div class="list-box">
                            <el-progress type="circle" :percentage='data.num' :stroke-width='12'></el-progress>
                            <h4>{{ data.name }}</h4>
                        </div>
                    </el-col>
                </el-row>
            </div>
            <div class="one-box">
                <div class="list-one">了解前后端分离，MVC，MVVM等设计模式</div>
                <div class="list-one">能够熟练使用PhotoShop，Git版本控制等辅助技能</div>
                <div class="list-one">熟悉前端UI框架如BootStrap，Layui，Element等</div>
            </div>


        </div>
        <!-- 项目 -->
        <div id="works">
            <div class="top">
                <h2>项目 展示</h2>
                <hr>
            </div>

            <div class="cardbox">
                <el-carousel :interval="4000" type="card">
                    <el-carousel-item v-for="item in works" :key="item.id">
                        <div style="width: 100%;height: 100%;">
                            <el-image :preview-src-list="workspic" :src="item.img"
                                style="width: 100%;height: 100%;object-fit: fill;">
                        </div>
                    </el-carousel-item>
                </el-carousel>
            </div>

        </div>
        <!-- 第三页 -->
        <div id="resume">
            <div class="top">
                <h2>工作 经历</h2>
                <hr>
            </div>
            <el-timeline>
                <el-timeline-item v-for="data in resumes" :timestamp="data.date" placement="top" :key="data.id">
                    <el-card>
                        <div class="logo">
                            <img :src="data.img">
                        </div>
                        <div class="main">
                            <h4>{{ data.name }}</h4>
                            <hr>
                            <p>{{ data.cont }}</p>
                        </div>
                    </el-card>
                </el-timeline-item>
            </el-timeline>
        </div>
        <!-- 自我评价 -->
        <div id="evaluate">
            <div class="top">
                <h2>自我 评价</h2>
                <hr>
            </div>
            <div class="main">
                热爱学习，良好的团队合作精神，能迅速融入新的团队。
                <br>
                易和人相处，拥有良好的亲和力。
            </div>
        </div>
        <!-- 联系方式 -->
        <div id="touch">
            <div class="top">
                <h2>联系 方式</h2>
                <hr>
            </div>
            <div class="main">
                <h3>Email : zhangyao720@QQ.COM</h3>
                <!-- <h3>Address : 驻马店市驿城区</h3> -->
                <!-- <h3>Weixin : 13353871335</h3> -->
                <!-- <a href="tel:133-5387-1335">联系我</a> -->
                <el-button type="primary" round @click="toCall" class="call">立即联系</el-button>
                <h4>注重效率，偏爱敏捷开发</h4>
                <h4>喜欢尝试，期待新鲜事物</h4>
                <h4>注前端即兴趣，兴趣即未来</h4>
                <h4>行路有良友，便是捷径</h4>
                <h3 class="end">带上我，是您不错的选择</h3>
            </div>
        </div>
        <!-- 底部 -->
        <div id="foot">
            <div>Copyright © 2021 | ZhangYao's Resume</div>
        </div>
    </div>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script src="/index.js"></script>
<script>

</script>

</html>